<% provide(:title, "Log in") %>
<h1 class="login-heading">Log in</h1>
<div class="row">
  <%= form_for(:session, url: login_path, :html => {:class => 'col s12'}) do |f| %>
 <div class="input-field col s12">
   <%= f.label :email %><br>
   <%= f.text_field :email, class: "materialize-textarea" %>
 </div>
 <div class="input-field col s12">
   <%= f.label :password %><br>
   <%= f.password_field :password, class: "materialize-textarea" %>
 </div>
 <div class="actions">
  <%= f.submit 'Log in', :class => 'btn waves-effect waves-light btn-blue' %>
 </div>

  <p class="login-paragraph">New user? <%= link_to "Sign up", root_path  %></p>
</div>
<% end %>

