<div class="row">
  <%= form_for @user, :html => {:class => 'col s10 offset-s1'} do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="input-field col s12">
   <%= f.label :name %><br>
   <%= f.text_field :name, class: "materialize-textarea" %>
 </div>
 <div class="input-field col s12">
   <%= f.label :email %><br>
   <%= f.text_field :email, class: "materialize-textarea" %>
 </div>
 <div class="input-field col s12">
   <%= f.label :password %><br>
   <%= f.password_field :password, class: "materialize-textarea" %>
 </div>
 <div class="input-field col s12">
   <%= f.label :password_confirmation %><br>
   <%= f.password_field :password_confirmation, class: "materialize-textarea" %>
 </div>
 <div class="actions">
  <%= f.submit 'Submit', :class => 'btn waves-effect waves-light' %>
</div>


</div>
<% end %>
