<div class="row">
  <%= form_for @user, :html => {:class => 'col s12'} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="input-field col s12">
   <%= f.label :name %><br>
   <%= f.text_field :name, class: "materialize-textarea" %>
 </div>
 <div class="input-field col s12">
   <%= f.label :email %><br>
   <%= f.text_field :email, class: "materialize-textarea" %>
 </div>
 <div class="input-field col s12">
   <%= f.label :password %><br>
   <%= f.password_field :password, class: "materialize-textarea" %>
 </div>
 <div class="input-field col s12">
   <%= f.label :password_confirmation %><br>
   <%= f.password_field :password_confirmation, class: "materialize-textarea" %>
 </div>
 <div class="col s12 actions">
  <%= f.submit 'Submit', :class => 'btn waves-effect waves-light btn-blue' %>
</div>


</div>
<% end %>
