<div class="row">
  <div class="col s8 offset-s2">
    <%= link_to new_grocery_path, :class => "btn-floating btn-large waves-effect waves-light red" do %>
  <i class="mdi-content-add"></i>
<% end %>
  </div>
</div>

<% if current_user.groceries.any? %>
<div class="row groceries-list">
  <div class="col s8 offset-s2">
     <div class="col-md-8">
      <ul class="collection with-header">
       <% current_user.groceries.each do |grocery| %>
        <li class="collection-item" id="grocery-<%= grocery.id %>">
           <i class="material-icons dp48">description</i>
           <span class="grocery-title"><%= grocery.title %></span>
           <span class="right">
            <%= link_to edit_grocery_path(grocery) do %>
            <i class="mdi-content-create icon-edit"></i><% end%>
            <%= link_to grocery, method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="material-icons dp48">delete</i><%end %>
          </span>
        </li>
        <% end %>
      </ul>
    <% else %>
    <h1 style="color: #fff;">You dont have groceries yet!</h1>
  </div> 
     <% end %>
  </div>
</div>  

<span><%= pluralize(current_user.groceries.count, "grocery") %></span>