<div class="row">
  <%= form_for @grocery, :html => {:class => 'col s10 offset-s1'} do |f| %>
  <% if @grocery.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@grocery.errors.count, "error") %> prohibited this grocery from being saved:</h2>

    <ul>
      <% @grocery.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="input-field col s12">
   <%= f.label :title %><br>
   <%= f.text_field :title, class: "materialize-textarea" %>
 </div>
 <div class="input-field col s12">
   <%= f.label :description %><br>
   <%= f.text_area :description, class: "materialize-textarea" %>
 </div>
 <div class="actions">
  <%= f.submit 'Submit', :class => 'btn waves-effect waves-light btn-blue btn-grocery' %>
</div>


</div>
<% end %>
