<li class="collection-item" id="grocery-<%= grocery.id %>">
  <div class="collapsible-header">
    <div class="row">
      <div class="col s8">
        <p class="grocery-title">
          <%= grocery.title %>
        </p>
      </div><!--col -->
      <div class="col s2">
       <input type="checkbox" class="checkbox">
     </div>
      <div class="col s2 right-align">
        <a class="dropdown-button" href="#!" data-activates="dropdown<%= grocery.id %>"><i class="fa fa-ellipsis-v fa-dropdown"></i></a>
      </div><!--col -->
    </div><!--row-->
  </div><!--header -->
  <div class="collapsible-body">
    <div class="row collapsible-row">
      <div class="col s8">
        <p class="grocery-description">
          <%= grocery.description %>
        </p>
      </div><!--col-->
      
      <div class="col s4">
        <p class="grocery-info">Amount: <%= grocery.amount %></p>
        
        <p class="grocery-info">Price: <%= grocery.price %>$</p>
      </div>
    </div><!--row-->
  </div><!--body-->
</li>

<ul id="dropdown<%= grocery.id %>" class="dropdown-content">
  <li class="dropdown-item">
   <%= link_to "Edit", edit_grocery_path(grocery) %>
 </li>
 <li class="dropdown-item">
   <%= link_to "Delete", grocery, method: :delete, data: {confirm: "Are you sure?"}%>

 </li>
</ul>
<script>
 $(document).ready(function(){
  $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });

  
});
</script>
