 <nav class="navbar">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Sign Up",   "#" %></li>
      <li><%= link_to "About",   "#" %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
     <li><%= link_to "Home",   root_path %></li>
     <li><%= link_to "Sign Up",   "#" %></li>
     <li><%= link_to "About",   "#" %></li>    </ul>
   </div>
 </nav>