 <nav class="navbar">
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if logged_in? %>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "New", new_grocery_path%></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
     <% if logged_in? %>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "New", new_grocery_path%></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Log in", login_path %></li>
      <% end %>
   </ul>
 </div>
</nav>