<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%> | Groceries</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

  <div class="row main-row">
   <% if logged_in? %>
   <%= render 'layouts/header' %>
   <%= yield %>
   <% else %>
   <%= yield %>
   <% end %>
   <div class="footer">
     <div class="col s6 offset-s3">
     <span class="footer-heading">Made with <i class="fa fa-heart animated pulse"></i> by <a href="https://twitter.com/tonkec_palonkec" target="_blank">@tonkec</a></span>
     </div>
   </div>
 </div>


 <script>
   $(".button-collapse").sideNav();
 </script>
</body>
</html>
